version: "3.8"

services:
  cdc-setup:
    image: postgres:15-alpine
    container_name: ${CDC_SETUP_CONTAINER_NAME:-sqlmodel-cdc-setup}
    depends_on:
      - redpanda
    environment:
      PGHOST: ${OLTP_POSTGRES_CONTAINER:-sqlmodel-postgres}
      PGPORT: 5432
      PGUSER: ${POSTGRES_USER:-postgres}
      PGPASSWORD: ${POSTGRES_PASSWORD:-postgres}
      PGDATABASE: ${OLTP_POSTGRES_DB:-sqlmodel_db}
      POSTGRES_CDC_PUBLICATION: ${POSTGRES_CDC_PUBLICATION:-redpanda_cdc_publication}
      POSTGRES_CDC_SLOT: ${POSTGRES_CDC_SLOT:-redpanda_cdc_slot}
      POSTGRES_CDC_SCHEMA: ${POSTGRES_CDC_SCHEMA:-public}
      POSTGRES_CDC_TABLES: ${POSTGRES_CDC_TABLES:-customer,product,order,orderitem}
      POSTGRES_CDC_WAIT_FOR_TABLE: ${POSTGRES_CDC_WAIT_FOR_TABLE:-customer}
    volumes:
      - ${PWD}/../../packages/shared/cdc/init-postgres-cdc.sh:/init-postgres-cdc.sh:ro
    command: ["/bin/sh", "/init-postgres-cdc.sh"]
    networks:
      - default
      - sqlmodel-network
    restart: "no"

  redpanda-connect:
    image: docker.redpanda.com/redpandadata/connect:latest
    container_name: ${CDC_CONNECT_CONTAINER_NAME:-sqlmodel-redpanda-connect}
    depends_on:
      - cdc-setup
      - redpanda
    environment:
      REDPANDA_LICENSE: ${REDPANDA_LICENSE:-}
      LOG_LEVEL: ${CDC_LOG_LEVEL:-info}
      POSTGRES_CDC_DSN: ${POSTGRES_CDC_DSN:-postgresql://postgres:postgres@sqlmodel-postgres:5432/sqlmodel_db?sslmode=disable}
      POSTGRES_CDC_SCHEMA: ${POSTGRES_CDC_SCHEMA:-public}
      POSTGRES_CDC_SLOT: ${POSTGRES_CDC_SLOT:-redpanda_cdc_slot}
      POSTGRES_CDC_PUBLICATION: ${POSTGRES_CDC_PUBLICATION:-redpanda_cdc_publication}
      POSTGRES_CDC_TABLES_JSON: '${POSTGRES_CDC_TABLES_JSON:-["customer","product","order","orderitem"]}'
      POSTGRES_CDC_TOPIC: ${POSTGRES_CDC_TOPIC:-sqlmodel_cdc_events}
      POSTGRES_CDC_BROKER_ADDRESS: ${POSTGRES_CDC_BROKER_ADDRESS:-redpanda:9092}
      POSTGRES_CDC_HTTP_ADDR: ${POSTGRES_CDC_HTTP_ADDR:-0.0.0.0:4195}
    volumes:
      - ${PWD}/../../packages/shared/cdc/redpanda-connect.template.yaml:/connect.yaml:ro
    command: ["run", "/connect.yaml"]
    ports:
      - "${POSTGRES_CDC_HTTP_PORT:-4196}:4195"
    networks:
      - default
      - sqlmodel-network
    restart: unless-stopped

networks:
  sqlmodel-network:
    external: true
    name: ${OLTP_POSTGRES_NETWORK:-sqlmodel-network}
